.sait-nav__logo {
    font-style: normal;
    letter-spacing: 0.03em;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px; 
    line-height: 1.192;
    color: $main-color-headers;
    margin-right: 93px;
  }

  .sait-nav__web--logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: $color-logo-links; 
    width: 145px; 
}

.sait-nav {
    display:flex;
    align-items: center; 
    justify-content: space-between; 
  
}

.sait-nav__navigation{
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  color: $main-color-headers;
 & li:not(:last-child) {
    margin-right: 50px;
  }
}


 .web__contacts 
{
    align-items: center;
    margin-left: 305px;
    display: flex; 
    justify-content: space-between; 
    width: 333px;
}
   
   .link:hover,
   .link:focus {
     color: $color-logo-links;
}


.sait-nav__icon--mail{
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;    
 &:hover,
&:focus{
    Fill: $color-button-logo;      
}
}

header{
    border-bottom: 1px solid #ECECEC;
}

.conteiner {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.current{
  color: $color-button-logo;
&:after{    
  display: flex;
  content: "";
  width: inherit;
  border-bottom: 4px solid;
  background-color: $color-button-logo;
  border-radius: 2px;
  margin-top: 30px;  
  margin-bottom: -1px; 
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.link {
    text-decoration: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
      border-radius: 2px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
