.team{
     
    background: $color-our-team;
    padding-top: 94px;
     padding-bottom: 94px; 
  }
  
  .list__item {
    display: flex;
    justify-content: space-between;
  }
  
  .team__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color-headers;
    margin-bottom: 50px;
  } 
  
  .team__conteiner {
    padding: 30px 32px;
  }
   
  .icons__card:not(:last-child){
    margin-right: 10px;
  }
  
  .team .team__scorecard{
   background: $white-color;             
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;     
  }
  
  .list__item .team__scorecard{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .team__member{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;       
    letter-spacing: 0.03em;    
    color: $main-color-headers;
    text-align: center;     
  }
  
  .team__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;     
    margin-top: 10px;    
  }
  .icons__list{
    margin: 0 auto;
    margin-top: 16px;
    display: flex;
    justify-content: center;   
  }
  
  
  
  .icons__list .icons__card{      
   display: flex;
   justify-content: center;
   align-items: center;    
  }   

  .icons__ref{
   display: inline-flex;
   justify-content: center;
   align-items: center; 
   background-color: inherit;
   fill: $company-social-color;   
   width: 44px;
   height: 44px;   
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, 
  &:focus{
  fill: $white-color;
  background-color: $color-button-logo;  
   }
}
  
 .socials{
    width: 20px;
    height: 20px;
  }
  