.title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color-headers;
    margin-bottom: 50px;
    } 


.box__img{
    display: flex;
     justify-content: space-between;
}
.our__work{
    
    padding-bottom: 94px; 
    padding-top: 94px;   
}

.box__case{
  position: relative; 
}
.case{
   position: absolute;
   display: flex; 
   justify-content: center;  
   align-items: center;
   bottom: 0;        
   width: 370px;
   height: 70px;
   background: $case-background;
 
}
.title__case{
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
 
}