*{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;      
}


body {
     font-family: Roboto;
     font-style: normal;
    background-color: $white-color;
    color: $main-text-color;
    }


img {
display: block;
max-width: 100%;
height: auto;

 }
